/* =======================
   COLOR PALETTE
   =======================
--indigo: #470063ff;
--purple-mountain-majesty: #947eb0ff;
--lavender-blush: #f6e8eaff;
--opal: #c4ddd7ff;
--middle-blue-green: #92d1c3ff;
-- grayish-yellow: #c1bfb5
-- dark gray: #404040
-- bright green: #59c597
========================== */

/* =======================
  BASE LAYOUT STYLES
========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* =======================
  NAV STYLES
========================== */

/* Add a black background color to the top navigation bar */
  nav ul {
      list-style-type: none;
      border-top: 6px solid #404040;
      background-color: #404040;
    }
/* Style the links inside the navigation bar */
  nav ul li a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
      text-transform: uppercase;
      color:whitesmoke;
    }

    nav ul li a:hover {
      color:whitesmoke;
    }


/* =======================
 MEDIA QUERIES FOR NAVIGATION
========================== */

@media screen and (min-width:576px){
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  nav ul li {
flex: 1 0 auto;
  }
}

/* =======================
  BANNER STYLES
========================== */
#banner {
min-height: 30vh;
max-height: 50vh;
padding-top: 15px;
background: url(img/Dotbackground.jpg);
background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
}

/* =======================
  ABOUT SECTION STYLES
========================== */

#about {
  padding: 60px 0;
  background: #c1bfb5;
}

.about-container{
  max-width: 95vh;
  margin: 0 auto;
}

.about-item {
  text-align: center;
  margin: 20px 0;
}

.about-item .fa {
  font-size: 60px;
  color: #470063ff;
}

.about-item h1 {
  font-size: 30px;
  color:#92d1c3ff;
  letter-spacing: 2px;
  margin: 30px 0;
  text-transform: uppercase;
}

.about-item p {
  width: 75%;
  margin: 0 auto;
  color: azure;
}

@media screen and (min-width:576px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }


@media screen and (min-width:992px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
  }

}













/* Change the color of links on hover */
    /* .nav a:hover {
      background-color: #ddd;
      color: black;
    } */
/* Add a color to the active/current link */
    /* .nav a.active {
      background-color: #59c597;
      color: white; }*/


    }