/* =======================
   COLOR PALETTE
   =======================
--indigo: #470063ff;
--purple-mountain-majesty: #947eb0ff;
--lavender-blush: #f6e8eaff;
--opal: #c4ddd7ff;
--middle-blue-green: #92d1c3ff;
-- grayish-yellow: #c1bfb5
-- dark gray: #404040
-- bright green: #59c597
========================== */

/* =======================
  BASE LAYOUT STYLES
========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* =======================
  NAV STYLES
========================== */

/* Add a black background color to the top navigation bar */
  nav ul {
      list-style-type: none;
      border-top: 6px solid #404040;
      background-color: #404040;
    }
/* Style the links inside the navigation bar */
  nav ul li a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
      text-transform: uppercase;
      color:whitesmoke;
    }

    nav ul li a:hover {
      color:whitesmoke;
    }


/* =======================
 MEDIA QUERIES FOR NAVIGATION
========================== */

@media screen and (min-width:576px){
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  nav ul li {
flex: 1 0 auto;
  }
}

/* =======================
  BANNER STYLES
========================== */
#banner {
min-height: 30vh;
max-height: 50vh;
padding-top: 15px;
background: url(img/Dotbackground.jpg);
background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
}

.banner-headline{
  text-align: center;
  margin: 40px 0;
  font-size: 3em;
  color: #59c597;
  background-color:#404040 ;
  font-style: italic;
  text-transform: uppercase;
}

/* =======================
  ABOUT SECTION STYLES
========================== */

#about {
  padding: 60px 0;
  background: #c1bfb5;
}

.about-container{
  max-width: 95vh;
  margin: 0 auto;
}

.about-item {
  text-align: center;
  margin: 20px 0;
  border: 1px solid #404040;
}

.about-item .fa {
  font-size: 60px;
  color: #470063ff;
  padding: 20px;
}

.about-item h1 {
  font-size: 20px;
  color:#404040;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-item p {
  width: 75%;
  margin: 0 auto;
  color: azure;
  padding: 0px 0px 20px 0px;
}

@media screen and (min-width:640px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
  


@media screen and (min-width:990px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
  }

}

/* =======================
  CHECKLIST SECTION STYLES
========================== */

/* title */

.title {
  margin: 40px 0;
}

.title-text {
  text-align: center;
  font-size: 3em;
  color: whitesmoke;
  font-style: italic;
  text-transform: uppercase;
}

.title-underline {
  width: 200px;
  border: 3px solid whitesmoke;
  margin: 0 auto;
}

/* checklist */

#checklist {
  min-height: 100vh;
  background: url(img/pexels-ali-arapoglu-2623869.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 80px 0;
}

.checklist-container {
  max-width: 90vw;
  margin: 0 auto;
  color: whitesmoke;
}

.checklist-item {
  overflow: hidden;
  position: relative;
  padding: 40px;
}

.checklist-item .fa {
  font-size: 60px;
  margin-bottom: 30px;
  color: #e6af2e;
}

.checklist-item-black {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}
.checklist-item-white {
  background: linear-gradient(rgba(206,208,206,0.6),rgba(206,208,206,0.6));
  color: #191718;
}

.front-text {
  text-align: center;
  transition: transform 2s;
}

.back-text {
  position: absolute;
  bottom: -15em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  transition: bottom 2s;
  padding: 0px 0;
}

.back-text h1 {
  margin-bottom: 20px;
}

/* Interactive Button*********************************************** */

.modal-container {
  display: none;
}

button {
  background-color: #470063ff;
  color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 10px 25px;
}

.modal-container {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 3opx 50px;
  width: 600px;
  max-width: 100%;
}



.back-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border:2px solid #e6af2e;
  font-size: 20px;
  color: #e6af2e;
}

.back-text button:hover {
  background-color: #e6af2e;
  color: #191716;
}

.checklist-item-white button {
  background-color: #e6af2e;
  color: #191716;
}

.checklist-item-white button:hover {
  background: #191716;
  background-color: #191716;
  color: #e6af2e;
} 

.checklist-item:hover .front-text {
  transform: translateY(-200px);
}

.checklist-item:hover .back-text {
  bottom: 0;
}
  


@media screen and (max-width:576px){
  checklist-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }  
  
@media screen and (min-width:990px) {

  .checklist-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
    .checklist-container .checklist-item:nth-of-type(1) {
      order:1
    }
    .checklist-container .checklist-item:nth-of-type(2) {
      order:2
    }
    .checklist-container .checklist-item:nth-of-type(3) {
      order:4
    }
    .checklist-container .checklist-item:nth-of-type(4) {
      order:3
    }

  }















/* =======================
  COUNTDOWN CLOCK STYLE
========================== */
  /* .box{
    padding: 2rem;
    margin: 1rem;
    background-color: #eee;
    box-shadow: 0 0 10px #888;
    border-radius: 5px;
    text-align: center;
}
#if-expired{
    display: none;
    font-size: 1.5rem;
}
.timer{
    font-size: 4rem;
}
.caption{
    text-align: center;
    font-family: fantasy;
    font-size: 1.2rem
} */














/* Change the color of links on hover */
    /* .nav a:hover {
      background-color: #ddd;
      color: black;
    } */
/* Add a color to the active/current link */
    /* .nav a.active {
      background-color: #59c597;
      color: white; }*/