*::after { 
	box-sizing: border-box 
  }

.flex-container {
	display: flex;
	height: 800px;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
  }

  .col2 {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
  }
  .col3 {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
  }

  .col1 {
	position: relative;
	align-self: stretch;
	flex: 70%;
	padding: 20px;
	background-size: cover;
	
	/* justify-content: center; */
	width: 300px;
	height: 300px;
  }
  /* using pseudo elements to create image opacity*/
  .col1::after {  
	content: "";
	background-image: url("img/WIT2019.webp");
	background-repeat: no-repeat;
	position: absolute;
	padding: 20px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.3;
  }
  .col1-text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 6em;
	color:black;
  }

/* ================================= 
  Media Queries
==================================== */

/* =======================
   Media Queries
========================== */

/* @media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
  } */

  /* =======================
   Media Queries
========================== */
/* 
@media (min-width: 769px) {

	.nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
        flex: 1 50%;
        border-radius: 50%;
        border: solid gainsboro;
	}

	.row {
		flex-wrap: wrap;
	}


	.secondary {
		order: -1;
	}

}

/* /* @media (min-width: 991px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 1.4;
	}
}  */ */