.flex-container {
	display: flex;
	flex-wrap: wrap;
  }

  .col2 {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
  }

  .col1 {
	flex: 70%;
	background-color: white;
	padding: 20px;
	/* background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("img/WIT2019.webp"); */
	background-image: url("img/WIT2019.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background: opacity .2;
  }

  /* .col1-background {
	opacity: .5;

  } */

  /* .col2-background {
	opacity: .5;

  }

  /* .col3 {
	flex: 1;
  }

/* ================================= 
  Media Queries
==================================== */

/* =======================
   Media Queries
========================== */

/* @media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
  } */

  /* =======================
   Media Queries
========================== */
/* 
@media (min-width: 769px) {

	.nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
        flex: 1 50%;
        border-radius: 50%;
        border: solid gainsboro;
	}

	.row {
		flex-wrap: wrap;
	}


	.secondary {
		order: -1;
	}

}

/* /* @media (min-width: 991px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 1.4;
	}
}  */