/* =======================
   Define Grid
========================== */

.container{
  display:grid;
  height: 100vh;
  /* columns: 4 equal columns*/
  grid-template-columns: 2fr 2fr 1fr 1fr;
  /* rows: 5 different row heights*/
  grid-template-rows: .2fr 1.5fr 1.2fr 1.2fr .8fr;
  /* define where the ares will be placed*/
  grid-template-areas: 
  "n n n n"
  "h h h h"
  "a b b b"
  "c c c c"
  "f f f f";
  /* define gaps between column and row areas*/
  grid-gap: .75rem;
}

html body {
    /* min-height: 100vh; */
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-auto-rows: minmax(0px, auto); */
    /* grid-row-gap: 6em; */
    /* grid-column-gap: 1em; */
  }
 /* =======================
   Defining Grid Areas
========================== */
nav {
grid-area: n;
  }
header {
grid-area: h;
}
.a {
grid-area: a;
}
.b {
grid-area: b;
display: flex;
justify-content: center;
  }

.c {
grid-area: c;
    }
footer {
grid-area: f;
}

  /* @media (min-width: 40em) {
    body {
      grid: 'nav nav nav nav' auto
            'header header header header' 1fr
            'body body body body' 1fr
            'footer footer footer footer' auto
          / 12em 1fr;
    }
  } */
  
  /* header { grid-area: header; }
  nav { grid-area: nav; }
  body { grid-area: body; }
  footer { grid-area: footer; }
  
  
  
  /* show… */
  /* body {
    background: var(--dark-purple);
  }
   */
  /* header,
  nav,
  body,
  footer {
    background: var(--background);
    padding: 1em;
  } */
